html, body {
    height: 100%;
}

.node {
    fill: #d3d3d3;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 1px;
}

.visited {
    fill: yellow;
}

.active {
    fill: red;
}

marker {
    stroke: #585858;
    fill: #585858;
    stroke-width: 1px;
}

text {
    stroke: green;
    font: 8px sans-serif;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1px;
}

.label {
    pointer-events: none;
    font: 8px sans-serif;
    stroke: #4c4cff;
}

#graph {
    height: 400px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}