html, body {
    height: 100%;
}

.node {
    fill: #B7C4CF;
    stroke: white;
    stroke-width: 2px;
}

.link {
    stroke: #d7d7d7;
}

.visited {
    fill: #b2b200;
}

.active {
    fill: #00468b;
}

.covered {
    stroke: black;
}

.shortest {
    stroke: #b2b200;
}

marker {
    stroke: #585858;
    fill: #585858;
}

text {
    stroke: #74A82A;
    font: 8px sans-serif;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1px;
}

.label {
    pointer-events: none;
    font: 8px sans-serif;
    stroke: white;
}

#graph {
    height: 400px;
}

text {
    font: 10px sans-serif;
    pointer-events: none
}