html, body {
    height: 100%;
}

/*.link {*/
    /*fill: none;*/
    /*stroke: #666;*/
    /*stroke-width: 1.5px;*/
/*}*/

.node {
    fill: red;
    stroke: #fff;
    stroke-width: 1px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

text {
    stroke: green;
}

.link.visited {
    stroke: green;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

.label {
    pointer-events: none;
    font: 10px sans-serif;
    stroke: blue;
}

#graph {
    height: 400px;
}

/*text {*/
    /*font: 10px sans-serif;*/
    /*pointer-events: none;*/
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
/*}*/